<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Shop with us</h1>
      <p class="lead text-muted">All our products are sourced locally</p>
      <p>
      <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>                        
                    </h4>
                </div>
        <a href="{% url 'newsletter_signup' %}" class="btn btn-light rounded-0 my-2">Subscribe to our Newsletter</a>
        <a href="{% url 'newsletter_unsubscribe' %}" class="btn btn-light rounded-0 my-2">Unsubscribe from our Newsletter</a>
      </p>
    </div>
  </section>

    <div class ="container text-center uppercase">
    <h2> See what's in season now!"</h2>
    </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
      {% for item in season %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin:15px">
            <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
            <div class="card-body">
                <h3 class="card-title">{{item.name}}</h3>
                <p class="card-text">{{item.description}}</p>
                <a href="{% url 'product_detail' item.id %}"class="btn btn-black"> Order Product</a>
            </div>
            </div>
        </div>
      {% endfor%}
      </div>
    </div>
  </div>    

{% endblock %}