<!DOCTYPE html>
{% extends "base.html"  %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <hr>
                    <h2 class="logo-font mb-4">Sign Up for Our Newslettter</h2>
                    <p>Join our subscribers list to get the latest news, updates and special offers delivered directly in your inbox.</p>
                <hr>
                {% if messages %}
                    {% for message in messages %}
                         <div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                             {{ message }}
                        </div>   
                    {% endfor%}
                {% else %}    
                     <form class="form-inline" method="POST">{% csrf_token %}
                        <div class="form-group mb-2">
                            <div class ="input-group">
                            {{ form|crispy }}
                            <div class="form-group mx-sm-3 mb-2">
                                <button class="btn btn-black " type="submit">Subscribe</button>
                            </div>
                            </div>
                        </div> 
                    </form>
                {% endif %}
            </div>
            
        </div>
    </div>
    

{% endblock %}
