<!DOCTYPE html>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-discount">
  Newsletter
</button>                    
<div class="modal fade" id="modal-discount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up for Our Newslettter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if messages %}
                    {% for message in messages %}
                         <div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                             {{ message }}
                        </div>   
                    {% endfor%}
                {% else %}    
                    <form method="POST"
                    >{% csrf_token %}
                        <div class ="input-group">
                        {{ form|crispy }}
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"> Subscribe</button>
                            </span>
                        </div>
                    </form>
                {% endif %}s
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>