<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Newsletter Management</h2>
                <h5 class="text-muted "> Newsletter " {{ newsletter.subject }} " Details</h5>
                <hr>
            </div>
        </div>
 


    <form method="POST">
    {% csrf_token %}

    <div class="form-group ">
        <label for="staticcontent" class="col-sm-2 col-form-label">Newsletter content</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticcontent" value="{{ newsletter.body }}">
            </div>
    </div>
    <div class="form-group ">
        <label for="cretedtime" class="col-sm-2 col-form-label">Created</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="staticcreated" value="{{ newsletter.created }}">
            </div>
    </div>

        <a href="{% url 'control_newsletter_list' %}"><button type="button" class="btn btn-light btn-outline-dark">Back to List</button></a>
    </form>


    </div>


{% endblock %}

